html, body {
  height: 100%;
}

.siteContainer {
  position: relative;
  height: 100%;
  width: 100%;
  //display: inline-block;
  overflow: hidden;
}

.site {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efeff4;

  > div {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div.container-xxl {
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}

.back-button-img {
  display: inline-block;
  width: 1.31rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  @include design($flat) {
    background-image: url("../img/arrowLeft.svg");
  }

  @include design($material) {
    background-image: url("../img/back.png");
  }
}
