@import "~foundation-sites/scss/foundation";

$navColorBlack: #000 !default;
$navBorderColorBlack: #7F7F7F !default;
$navBackgroundBlack: #fff !default;

$navColorWhite: #fff !default;
$navBorderColorWhite: #1e1c1c !default;
$navBackgroundWhite: #000 !default;

$navColorDefault: #fff !default;
$navBorderColorDefault: #1e1c1c !default;
$navBackgroundDefault: #000 !default;

$navBackgroundWithImage: transparent !default;

nav.top-bar {
  z-index: 1;
  white-space: nowrap;
  position: relative;
  background: $navBackgroundDefault;
  color: $navColorDefault;
  stroke: $navColorDefault;
  padding: 0;

  @each $breakpoint, $value in $margins {
    @include breakpoint($breakpoint) {
      margin-left: -$value;
      margin-right: -$value;
      width: calc(100% + #{2*$value});
      max-width: calc(100% + #{2*$value});
    }
  }

  .background-img {
    display: none;
  }

  > span {
    > span {
      > span {
        display: flex;
      }
    }

    .back-button {
      cursor: pointer;
      text-align: left;

      svg {
        width: 0.5rem;
        height: 100%;
        vertical-align: bottom;
      }
      &.hidden{
        visibility: hidden;
        display: initial;
      }
    }

    .top-bar-title {
      margin-left: 0.5rem;
    }

    #navbar-close-listener-container {
      #navbar-close-listener {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        z-index: 8999;
      }
    }

    #navbar-menu-visible {

    }

    #responsive-menu-toggle {
      .menu-icon {

        &::after {
          background: $navColorDefault;
          box-shadow: 0 7px 0 $navColorDefault, 0 14px 0 $navColorDefault;
        }
      }

      .menu-icon {
        //noinspection CssInvalidPropertyValue
        vertical-align: -webkit-baseline-middle;
      }
    }

    #responsive-menu {
      display: block;
      //right: -100%;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;

      &.visible {
        .hidden-menu {
          right: 0;
        }
      }

      .hidden-menu {
        position: fixed;
        transform: none;
        display: inline-block;
        z-index: 9000;
        border: 1px solid $navBorderColorDefault;
        //padding: 0.2rem;
        padding: 4.5rem 1.65rem 0rem 2.75rem;
        text-align: left;
        background: $navBackgroundDefault;
        margin-top: -1rem;
        right: -100%;

        li {
          font-size: 1.15rem;

          &.hidden {
            display: none;
          }

          &.is-dropdown-submenu-parent {
            z-index: 9001;

            ul.is-dropdown-submenu {
              top: auto;

              > li, > .close-listener {
                z-index: 9001;
              }
            }

            > a:after {
              display: block;
              width: 0;
              height: 0;
              border: 6px inset;
              content: "";
              border-bottom-width: 0;
              border-top-style: solid;
              border-color: #ffffff transparent transparent;
              right: 5px;
              left: auto;
              margin-top: -3px;
            }
          }

          a {
            white-space: nowrap;

            img {
              display: none;

              + span {
                display: inherit;
              }
            }
          }

          @include breakpoint(medium) {
            &.medium {
              display: none;
            }
          }
          @include breakpoint(smedium) {
            &.smedium {
              display: none;
            }
          }
          @include breakpoint(large) {
            &.large {
              display: none;
            }
          }

          @include breakpoint(small down) {
            &.smedium {
              display: block;

              &.hidden {
                display: none;
              }
            }
          }
          @include breakpoint(smedium down) {
            &.medium {
              display: block;

              &.hidden {
                display: none;
              }
            }
          }
          @include breakpoint(medium down) {
            &.large {
              display: block;

              &.hidden {
                display: none;
              }
            }
          }

          &.never {
            display: block;

            &.hidden {
              display: none;
            }
          }

          &.always {
            display: none;
          }
        }
      }
    }

    .navbar-menu {
      background: initial;

      width: auto;
      z-index: 9000;

      a {
        img + span {
          display: none;
        }
      }

      li {
        position: relative;
        z-index: 9000;

        &.is-dropdown-submenu-parent {
          z-index: 9001;
        }

        &.hidden {
          display: none;
        }

        @include breakpoint(small down) {
          &.smedium {
            display: none;
          }
        }
        @include breakpoint(smedium down) {
          li {
            display: table-cell;
          }
          &.medium {
            display: none;
          }
        }
        @include breakpoint(medium down) {
          &.large {
            display: none;
          }
        }

        &.never {
          display: none;
        }
      }

      .menu, &.menu {

        li {
          z-index: 100;
          @include breakpoint(smedium down) {
            a {
              width: 100%;
              //text-align: left;
            }
          }

          @include breakpoint(smedium down) {
            a {
              padding-left: 0.68rem;
            }
          }
          @include breakpoint(small down) {
            a {
              padding-left: 0.236rem;
            }
          }

          &:not(.is-dropdown-submenu-parent) {
            @include breakpoint(smedium down) {
              a {
                padding-right: 0.68rem;
              }
            }
            @include breakpoint(small down) {
              a {
                padding-right: 0.236rem;
              }
            }
          }

          &.img a {
            padding-top: 0;
            padding-bottom: 0;

            img {
              vertical-align: inherit;
              max-height: 1.8rem;
            }
          }

        }

        > li > ul.is-dropdown-submenu {
          min-width: 0;

          li {
            display: inherit;
          }
        }

        > li.opens-right > a {
          margin-right: 0.5rem;

          &:after {
            right: 0.1rem;
          }
        }
      }
    }

    .submenu {
      background: $navBackgroundDefault;
    }
  }

  &.with-image {
    background: $navBackgroundWithImage;

    transition: all 0.15s, background 0.0s;
    transition-delay: 0s;

    * {
      transition: all 0.15s, background 0.0s;
      transition-delay: 0s;
    }

    .background-img {
      display: initial;
      @each $breakpoint, $value in $margins {
        @include breakpoint($breakpoint) {
          margin-left: -$value;
          margin-right: -$value;
          width: calc(100% + #{2*$value});
          max-width: calc(100% + #{2*$value});
          min-width: 2.5*$value;
        }
      }
    }

    > span {
      background: inherit;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;

      > span > span {
        //@each $breakpoint, $value in $margins {
        //  @include breakpoint($breakpoint) {
        //    padding-left: $value;
        //padding-right: 2*$value !important;
        //}
        //}
      }

      > * {
        position: relative;
      }

      .back-button {

      }

      .top-bar-title {

      }

      #navbar-close-listener-container {
        #navbar-close-listener {

        }
      }

      #navbar-menu-visible {

      }

      #responsive-menu-toggle {
        z-index: 9100;
      }

      #responsive-menu {

      }

      .navbar-menu {
        background: initial;
      }

      .submenu {
        background: $navBackgroundDefault;
      }
    }

    &.color-black {
      color: $navColorBlack;
      stroke: $navColorBlack;

      #responsive-menu {
        .hidden-menu {
          background: $navBackgroundBlack;
          border-color: $navBorderColorBlack;
        }
      }

      #responsive-menu-toggle {
        .menu-icon::after {
          background: $navColorBlack;
          box-shadow: 0 7px 0 $navColorBlack, 0 14px 0 $navColorBlack;
        }
      }

      .submenu {
        background: $navBackgroundBlack;
      }
    }

    &.color-white {
      color: $navColorWhite;
      stroke: $navColorWhite;

      #responsive-menu {
        .hidden-menu {
          background: $navBackgroundWhite;
          border-color: $navBorderColorWhite;
        }
      }

      #responsive-menu-toggle {
        .menu-icon::after {
          background: $navColorWhite;
          box-shadow: 0 7px 0 $navColorWhite, 0 14px 0 $navColorWhite;
        }
      }

      .submenu {
        background: $navBackgroundWhite;
      }
    }

    &.solid {
      background: $navBackgroundDefault;

      > span {
        //background: inherit;
        .back-button {

        }

        .top-bar-title {

        }

        #navbar-close-listener-container {
          #navbar-close-listener {

          }
        }

        #navbar-menu-visible {

        }

        #responsive-menu-toggle {

        }

        #responsive-menu {
          .hidden-menu {
            border-color: $navBorderColorBlack;
          }
        }

        .navbar-menu {
          background: inherit;
        }
      }

      &.color-black {
        background: $navBackgroundBlack;
      }

      &.color-white {
        background: $navBackgroundWhite;
      }
    }
  }
}

//#logo {
//  max-width: 2rem;
//  transition: none;
//}

.menu, .dropdown.menu {
  a {
    padding: 0.2rem 0.5rem;
  }
}

.dropdown.menu .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle),
#navbar-menu-hidden .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > {
  a {
    margin-right: 0.5rem;

    &::after {
      right: 0.1rem;
    }
  }

  ul a {
    width: 100%;
  }
}

.menu.is-accordion-submenu {
  margin-left: 0.7rem;
}

.menu {
  transform-origin: top;
  transition: 0.25s;
  //overflow-y:hidden;
}


#responsive-menu-toggle button {
  vertical-align: initial;
}

.dropdown.menu > li.is-accordion-submenu-parent {
  //> a:after {
  //  border-color: #ffffff transparent transparent;
  //}

  > ul.is-dropdown-submenu {
    left: auto;
    right: 0;
  }
}

#navbar-fragment {
  width: 100%;
}

.logo{
  .logo-img{
    margin-left: 1rem;
    margin-right: 0.5rem;
    max-width: 2.35rem;
  }
}
