.alphabetic-list{
  height: 100%;
  position: relative;

  .alphabetic-list-container{
    height: 100%;
    overflow: auto;
  }

  .alphabetic-list-sidealphabet{
    height: 100%;

    .alphabet-scroll-to {
      cursor: pointer;
      height: 3.8%;
      display: block;
      text-align: center;
      @include breakpoint(small down){
        font-size: 0.8em;
      }
    }
  }
}