.sites {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.siteContainer {
  flex: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media print {
  .siteContainer {
    overflow: initial;
  }
}
